ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        float: left;
        padding: 10px;
        button {
            color: blue;
            background-color: white;
            width: 30px;
            margin: 0;
            padding: 4px;
            font-weight: bold;
            border: none;
        }
        button:hover:focus {
            outline: none;
            border: none;
        }
    }
}