@import '../../app.scss';

nav {
    width: 100%;
    box-shadow: 1px 1px 3px hsl(207, 26%, 17%);
    background: $darkblue;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: $fontfamily;
    h3 {
        margin: 0;
        padding: 20px 0 20px 190px;
    }
    ion-icon {
        padding: 28px 10px 20px 0;
    }
    h5 {
        padding: 5px 200px 0 0;
        float: right;
    }
}
@media only screen and (max-width: 570px) {
    nav {
        // height: 60px;
        // background: lightblue;
        h3 {
            margin: 0;
            padding: 20px 0 20px 20px;
        }
        ion-icon {
            padding: 28px 5px 20px 0;
        }
        h5 {
            padding: 5px 20px 0 0;
        }
    }
}